[user]
	name = ml-yamaguchi
	email = tomohiro.yamaguchi@monstar-lab.com
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[alias]
  co = checkout
  a = add
  s = status
  l = log
  c = commit
[core]
  editor = vim
